body {
  font-size: large;
  background-image: -moz-linear-gradient(#6a3eff,#d36bff, #ff856a,#99ff6a);
  background-image: linear-gradient(#a87bc7,#e0b0ff,#f1d7ff);
}
/*background-image: linear-gradient(#d36bff, #ffd06a, #6affd0);*/
/*background-image: linear-gradient(#ff856a, #ffd06a, #6affd0, #6affd0);*/


.row {
  display: grid;
  place-content: center;
  padding: 0.5em;
}

.container {
  display: flex;
}

.form-group input {
  background-color: rgba(0, 255, 255, 0);
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
  display: inline-block;
  border-width: 1px;
}

.form-group input::placeholder {
  color: #ffffff;
}

.form-control:focus {
  border-bottom: 3px solid rgb(255, 255, 255);
  box-shadow: none;
}

input,
.button {
  margin-bottom: 1.5em;
}

.button button:hover {
  background-color: #f1d7ff;
}

.button button {
  background-color: #6ae3ff;
  border: 1px solid black;
}

.linea {
  background-color: #f1d7ff;
  padding: 0.1em;
  margin: 0.25em;
}

.icon {
  padding: 0.25em 0.15em;
  margin-right: 0.5em;
}

.formulario {
  padding: 1em;
}

.contenedor {
  background-image: -moz-linear-gradient(#ff6be1,#d36bff, #896bff);
  background-image: linear-gradient( #ff6be1, #d36bff, #896bff);
}
