body {
  font-size: large;
  background-image: -moz-linear-gradient(#d36bff, #896bff);
  background-image: linear-gradient(#d36bff, #896bff);
}

.row {
  display: grid;
  place-content: center;
  padding: 0.5em;
}

.container {
  display: flex;
}

.form-group input {
  background-color: rgba(0, 255, 255, 0);
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
  display: inline-block;
  border-width: 1px;
}

.form-group input::placeholder {
  color: #ffffff;
}

.form-control:focus {
  border-bottom: 3px solid rgb(255, 255, 255);
  box-shadow: none;
}

input,
.button {
  margin-bottom: 1.5em;
}

.button button:hover{
  background-color: #f1d7ff;
}

.button button {
  background-color: #6ae3ff;
}

.linea {
  background-color: #f1d7ff;
  padding: 0.1em;
  margin: 0.25em;
}

.icon {
  padding: 0.25em 0.15em;
  margin-right: 0.5em;
}

.formulario{
    padding: 1em;
}