<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>App-component</title>
</head>

<body>
  <div class="container d-flex align-items-center justify-content-center" style="min-height: 80vh;">
    <div class="card w-70 principal bg-transparent border-0">
      <div class="card-body ">
        <div class="card-deck">
          <div class="card item card-body-custom bg-transparent-2 baseBlock" *ngFor="let apps of listaAplicaciones">
            <div class="card-body" [routerLink]="[apps.ruta]">
              <img src={{apps.imagen}} />
            </div>
            <h5 class="fw-bolder" style="text-align: center;">{{apps.nombre}}</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>