<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App-component</title>
</head>
<body>
    <div class="container d-flex align-items-center justify-content-center" style="min-height: 80vh;">
        <div class="card w-70 principal bg-transparent border-0">
          <div class="card-body ">
            <div class="card-deck">
              <div class="card item  card-body-custom bg-transparent-2">
                <div class="card-body ">                  
                  <img  src="../../assets/Inventory.png"/>
                </div>
                <h5 style="text-align: center;">Inventario</h5>
              </div>
              <div class="card item  card-body-custom">
                <div class="card-body">
                  <h5 class="card-title">Etiqueta 2</h5>
                  <p class="card-text">Texto de la etiqueta 2</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</body>
</html>
